@model AttendanceApp.Models.Class

<h2>@(Model.ClassId == 0 ? "Create New Class" : "Edit Class")</h2>

<form asp-action="CreateClass" method="post">
    <input type="hidden" asp-for="ClassId" />

    <div class="mb-3">
        <label>Class Name</label>
        <input asp-for="ClassName" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Class Link</label>
        <input asp-for="ZoomLink" class="form-control" required />
    </div>

    <button class="btn btn-primary">Save</button>

    <div class="text-center mt-3">
        <a asp-controller="Teacher" asp-action="Dashboard" class="text-decoration-none text-muted">
            Go back to dashboard
        </a>
    </div>
</form>